<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>CRIPTOWORLD</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

</head>


<body>

    <h1>CRIPTOWORLD</h1>
   <header id="main-header">
		<nav>
            {% block sidebar %}
                <ul>
                    <li><a class="site-name" href="{% url 'homepage' %}">INICIO</a></li>
                        <li><a class="site-name" href="{% url 'criptomonedas' %}">CRIPTOMONEDAS</a></li>
                        <li><a class="site-name" href="{% url 'noticias' %}">NOTICIAS</a></li>
                        {% block registration %}
                            {% if user.is_authenticated %}
                                <li>Hi {{ user.username }}<a></a></li>
                                <li><a class="site-name" href="{% url 'logout' %}"> LOGOUT</a></li>
                            {% else %}
                                <li><a href="{% url 'signup' %}">SIGN UP</a></li>
                                <li><a href="{% url 'login' %}">LOGIN</a></li>
                            {% endif %}
                       {% endblock %}
                </ul>
            {% endblock %}

		</nav><!-- / nav -->
   </header>

   <section id="main-content">
		<article>
			<header>
				{% block header %}<h1>CONTENIDO</h1> {% endblock %}
			</header>

			<div class="content">
            {% block content %}
                <p1>texto aqui</p1>
            {% endblock %}

			</div>

		</article> <!-- /article -->

   </section> <!-- / #main-content -->

    <footer id="main-footer">
		<p>&copy; 2019 - CriptomonedasApp</p>
	</footer> <!-- / #main-footer -->
</body>
</html>
