{% extends 'homepage.html' %}

{% block title %}<title>CRIPTOWORLD</title>{% endblock %}
{% block header %}<h1>MONEDAS FAVORITAS</h1> {% endblock %}

<section id="main-content">
		<article>
        {% if role_class.role == 'cliente' or role_class.role == 'admin' %}
			< class="content">
            {% block content %}
                    <table style="width:100%">
                        <tr align="center">
                            <th>Nombre</th>
                            <th>Market cap</th>
                            <th>Precio</th>
                            <th>Volumen 24h</th>
                            <th>Cambio 24h</th>
                        </tr>
                        {% for i in moneda %}
                            <tr align="center">
                                <td>{{ i.name }}</td>
                                <td>{{ i.market_cap }}</td>
                                <td>{{ i.price }}</td>
                                <td>{{ i.volume_24h }}</td>
                                <td>{{ i.change_24h }} </td>
                            <td align="left"><a href="{% url 'delete_moneda' i.pk%}">Eliminar moneda a favoritos</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                  <br>
                <br>
            {% endblock %}
            {% endif %}
			</div>

		</article> <!-- /article -->

   </section> <!-- / #main-content -->