{% extends 'homepage.html' %}

{% block title %}<title>CRIPTOWORLD</title>{% endblock %}
{% block header %}<h1>NOTICIAS</h1> {% endblock %}
</head>
<body>

    <div>
        <div>
            {% block content %}
                {% block register %}
                     {% if user.is_authenticated %}

                 <a style="margin-left: 20px" href="{% url 'add_noticia'%}">Añadir noticia</a>
                {% for i in noticia %}
                <p><b style="margin-left: 20px">{{ i.titular }}</b>  por {{ i.user }} <a style="margin-left: 15px" href="{% url 'detail_noticia' i.pk %}">Ver noticia</a> <h7>|</h7>
                                                                                     <a href="{% url 'update_noticia' i.pk %}"> Modificar Noticia</a>
                        <h7>|</h7> <a href="{% url 'delete_noticia' i.pk %}">Eliminar Noticia</a></p>
                {% endfor %}
                         {% else %}
                {% for i in noticia %}
                     <p><b style="margin-left: 20px">{{ i.titular }}</b>   por {{ i.user }}  <a style="margin-left: 15px" href="{% url 'detail_noticia' i.pk %}">Ver noticia</a>
                {% endfor %}
                    {% endif %}
                {% endblock %}
            {% endblock %}
         </div>
    </div>

</body>